*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}

body{
    background-color: rgb(226, 60, 88);
}

    h2{
        font-family: 'Pacifico',sans-serif;
        color: rgba(92, 7, 4, 0.993);
        font-weight: 600;
        text-shadow: 50px;
        font-style: italic;
        font-size: 48px;
        text-align: center;
        padding-top: 5px;
        justify-content: center;
    }
    .wrapper{
        width: 100vmin;
        padding: 50px 40px;
        background-color: rgb(164, 13, 39);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 15px;
        box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
    }
    span{
        display: block;
        text-align: center;
        font-size: 150px;
        color: pink;
    }
    #yname{
        text-align: center;
        justify-content: center;
        margin-left: 33%;
        border: 2px solid black;
        border-radius: 18px;
        font-size: 18px; 
          
    }
    #tname{
        text-align: center;
        justify-content: center;
        margin-left: 33%;
        border: 2px solid black;
        border-radius: 18px;
        font-size: 18px;
        
    }
    
    #result{   
        margin-top: 1%;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        display: none;    
    }
    p{
        font-style: italic;
        font-family: 'Pacifico',sans-serif;   
    }
    button{
        display: block;
        background-color: pink;
        border: none;
        padding: 5px;
        font-size: 18px;
        color: #171721;
        font-weight: 600;
        padding: 12px 25px;
        margin-top:8%;
        margin-left:33%;
        border-radius: 25px;
        cursor: pointer;
    }


 
 @media (min-width: 0px) and (max-width: 360px) {
    #yname{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        border: 2px solid black;
        border-radius: 18px;
        font-size: 18px; 
          
    }
    #tname{
        text-align: center;
        justify-content: center;
        margin-left: 10%;
        border: 2px solid black;
        border-radius: 18px;
        font-size: 18px;
        
    }
    button{
        display: block;
        background-color: pink;
        border: none;
        padding: 5px;
        font-size: 18px;
        color: #171721;
        font-weight: 600;
        padding: 12px 25px;
        margin-top:8%;
        margin-left:10%;
        border-radius: 25px;
        cursor: pointer;
    }
    h2{
        font-family: 'Pacifico',sans-serif;
        color: rgba(92, 7, 4, 0.993);
        font-weight: 600;
        text-shadow: 50px;
        font-style: italic;
        font-size: 48px;
        text-align: center;
        padding-top: 2px;
        justify-content: center;
    }

 
 }
 @media (max-width: 320px) {
       
    .wrapper{
        width: 100vmin;
        padding: 50px 40px;
        background-color: rgb(164, 13, 39);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 15px;
        box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
    }
    #yname{
        text-align: center;
        justify-content: center;
        margin-left:-6%;
        border: 2px solid black;
        border-radius: 18px;
        font-size: 18px; 
          
    }
    #tname{
        margin-left: -6%;
    }
    span{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    h2{
        font-size: 30px;
        margin-top: 0;
        
        
    }
    button{
        margin-left: 0%;
        text-align: center;
    }
}
 @media screen and (min-width: 365px) and (max-width: 400px) {
    #yname{
        margin-left: 12%;
    }
    #tname{
        margin-left: 12%;
    }
    button{
        margin-left: 12%;
    }
    h2{
        font-size: 30px;
    }
 }
 @media screen and (min-width: 401px) and (max-width: 700px) {
    #yname{
        margin-left: 15%;
    }
    #tname{
        margin-left: 15%;
    }
    button{
        margin-left: 15%;
    }
    h2{
        margin-top: 9%;
    }
 }
 @media screen and (min-width: 701px) and (max-width: 912px) {
    #yname{
        margin-left: 34%;
    }
    #tname{
        margin-left: 34%;
    }
    button{
        margin-left: 34%;
    }
    h2{
        margin-top: 9%;
    }
 }
 @media screen and (min-width: 901px) and (max-width: 1024px){
    #yname{
        margin-left: 28%;
    }
    #tname{
        margin-left: 28%;
    }
    button{
        margin-left: 28%;
    }
    h2{
        font-size: 30px;
        margin-top: 0;
    }
 } 

/* screens: {
    'sm': '640px',
    // => @media (min-width: 640px) { ... }

    'md': '768px',
    // => @media (min-width: 768px) { ... }

    'lg': '1024px',
    // => @media (min-width: 1024px) { ... }

    'xl': '1280px',
    // => @media (min-width: 1280px) { ... }

    '2xl': '1536px',
    // => @media (min-width: 1536px) { ... } */
